<!DOCTYPE html>
<html>

<body>

<div id="formDiv">
<form id="formE">
<table>
	<tr>
		<td>
			<label>NAME: </label>
		</td> 
		<td>
			<input type="text"></input>
		</td>
	</tr>
	<tr><td></td> <td></td></tr>
	<tr><td></td> <td></td></tr>
	<tr><td></td> <td></td></tr>
</table>
	
	<label>PRICE: </label><input type="text"></input>
	<label>DATE: </label><input type="text"></input>
	<label>CATEGORY: </label><input type="text"></input>
	<button>Submit</button>
	<button>Clear</button>

</form>
</div>

</body>
</html>