<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/sample.css">
</head>
<body>

<div id="formDiv">
<form id="formE">
<table>
	<tr>
		<td>
			<label>NAME: </label>
		</td> 
		<td>
			<input type="text"></input>
		</td>
	</tr>
	<tr>
		<td>
			<label>PRICE: </label>
		</td> 
		<td>
			<input type="text"></input>
		</td>
	</tr>
	<tr>
		<td>
			<label>DATE: </label>
		</td> 
		<td>
			<input type="text"></input>
		</td></tr>
	<tr>
		<td>
			<label>CATEGORY: </label>
		</td> 
		<td>
			<input type="text"></input>
		</td>
	</tr>
	<tr>
		<td>
			<button>Submit</button>
		</td> 
		<td>
			<button>Clear</button>
		</td>
	</tr>
</table>
</form>

<form class="form1">
<label>Namedas:</label>
<input type="text"></input><br>
<label>Degree:</label>
<input type="text"></input><br>
</form>
</div>

</body>
</html>